{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}School Management System{% endblock %}</title>

    <link href="{% static 'accounts/css/style.css' %}" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}
</head>

<body>

<header>
    <h1>School Management System</h1>

    <nav>
        <a
                class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                href="{% url 'home' %}"
        >
            Home
        </a>
        <a
                class="{% if request.resolver_match.url_name == 'students' %}active{% endif %}"
                href="{% url 'students' %}"
        >
            Students</a>
        <a
                class="{% if request.resolver_match.url_name == 'teachers' %}active{% endif %}"
                href="{% url 'teachers' %}"
        >
            Teachers
        </a>
        <a
                class="{% if request.resolver_match.url_name == 'courses' %}active{% endif %}"
                href="{% url 'courses' %}"
        >
            Courses
        </a>
        <a
                class="{% if request.resolver_match.url_name == 'reports' %}active{% endif %}"
                href="{% url 'reports' %}"
        >
            Reports
        </a>
    </nav>

</header>

<hr>

<main>
    {% block content %}
    {% endblock %}
</main>

<hr>

<footer>
    <p>&copy; 2026 School Management System</p>
</footer>

</body>

</html>