<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
</head>
<body>
{% extends "accounts/base.html" %}

{% block content %}

<h2>{{ page_title }}</h2>

<p>Total courses: {{ total_courses }}</p>

<table>
    <thead>
    <tr>
        <th>Course</th>
        <th>Workload</th>
    </tr>
    </thead>

    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.workload }} hours</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

</body>
</html>