<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Alunos</title>
</head>
<body>
{% extends "accounts/base.html" %}

{% block content %}

<h2>{{ page_title|upper }}</h2>

<p><strong>School:</strong> {{ school_name|lower }}</p>

<p><strong>Total students:</strong>{{ total_students|stringformat:"02d" }}</p>

<ul>

    {% for student in students %}

    <li>

        {{ student.name }}

        {% if student.active %}
        ✅ Ativo
        {% else %}
        ❌ Inativo
        {% endif %}

    </li>

    {% endfor %}

</ul>

{% endblock %}


</body>
</html>